h2 {
    color:rgba(204, 0, 0, 0.712);
    font-family:sans-serif;
    font-size:1.8em;
    margin-bottom:0;
  }
  
  table {  
    font-family:sans-serif;
    width: 80%;
    th, td {
      padding:1.00em 1em;
      text-align:left;
      &:nth-child(2) {
        text-align:left;
      }
    }
    td {
      background-color:rgb(240, 157, 157);
      font-family: 'Courier New', Courier, monospace;
      font-size: larger;
      font-weight: bolder;   
    }
    th {
      background-color:#c00;
      color:#fff;
    }
  }

.warning-msg {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #9F6000;
  background-color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

.btn
{
    background-color: rgb(240, 157, 157);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;
    margin: 0 0 20px;
}

.btn:hover {
  background-color: rgb(240, 100, 100);
}
